<h2>Welcome to Parcels Express</h2>

<p>Please enter the dimensions and weight of your package, and we will calculate the shipping cost for you.</p>

<form action="/parcels" method="post">
<label for="length">Enter package length:</label>
<input id="length" name="length" type="number"><br>
<label for="width">Enter package width:</label>
<input id="width" name="width" type="number"><br>
<label for="height">Enter package height:</label>
<input id="height" name="height" type="number"><br>
<label for="weight">Enter package weight:</label>
<input id="weight" name="weight" type="number"><br>
<button type="submit">Calculate Shipping Cost</button>
</form>